body{
  margin:0;
  padding: 0;
}

h1{
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
}

h2{
  text-align: center;
  color: #ffffff;
}

.back{
  width:10%;
}

.search-box{
  position: absolute;
  margin-top: 50px;
  margin-left: 180px;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}


.enter-box{

  position: absolute;
  margin-top:-100px;
  margin-left:150px;
  transform: translate(-50%, -50%);
  background: #2f3640;
  width: 200px;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}



.submit:hover > .submit2{
  background: #2f3640;
}

.search-btn{
  float:right;
  width:40px;
  height:40px;
  border-radius: 50%;
  background:#ffffff;
  display:flex;
  justify-content: center;
  align-items: center;

}



.searchbutton{
  width: 50%;
  height: 50%;
}

.search-txt{
  width:240px;
  padding: 0 6px;
  border: none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size:16px;
  transition: 0.4s;
  line-height: 40px;
  width:240px;
}

.enter-txt{
  border: none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size:16px;
  transition: 0.4s;
  line-height: 40px;
  width:240px;
}
.room{
  text-align: center;
  margin-top:150px;
}

.roomitem{
  border: solid;
  border-color: #e84118;
}


.submit2{
  border:none;
  background: #e84118;
  color:#ffffff;
  padding: 15px 5px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 30%;

}

.submit{
  text-align: center;
  padding-top:20px;
}
