#SelectSection{
  /*transform: scale(0.4);*/
  position: absolute;
  left: 350px;
  top: 500px;
}

#GoBack{
  transform: scale(0.4);
  position: absolute;
  left: 270px;
  top: -50px;
}

#NextFloor
{
  position: absolute;
  left: 1020px;
  top: 200px;
}

#PrevFloor
{
  position: absolute;
  left: 1020px;
  top: 300px;
}

canvas
{
  position: absolute;
  left: 300px;
  top: 0px;
  padding: 0px;
  margin: 0px;
}

body
{
  background-color: #000000;
}
